@font-face {
  font-family: 'Xolonium';
  src: url("./resources/Xolonium-Regular.ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Xolonium';
  background-color: #383838; }

.menu {
  width: auto;
  cursor: pointer;
  color: white;
  display: inline-block; }
  .menu__checkbox {
    display: none; }
  .menu__checkbox:checked ~ .menu__list {
    display: block; }
  .menu__title {
    cursor: pointer; }
    .menu__title:hover {
      color: red; }
  .menu__list {
    background-color: darkgray;
    list-style: none;
    display: none; }
    .menu__list:focus {
      display: block; }
  .menu__item:hover {
    color: red; }
