.contextMenu {
  position: absolute;
  width: auto;
  display: block;
  list-style-type: none;
  user-select: none;
  white-space: nowrap;
  background-color: var(--hover-color);
  height: auto;
  font-size: 1.6rem;
  color: white;
  border-radius: 0.4rem;
  z-index: 1;
}
