.menu {
  width: 100vw;
  cursor: pointer;
  background-color: var(--main-color-2);
  color: white;
  display: inline-block;
  padding: 5px;
}
.menu__title {
  padding: 5px;
}

.menu__title:hover {
  background-color: var(--hover-color);
}

.menu__list--disabled {
  background-color: var(--hover-color);
  display: none;
}

.menu__list--enabled {
  background-color: var(--hover-color);
  display: block;
}

.menu__item:hover {
  color: var(--font-color);
}
