.menu {
  width: 100vw;
  height: 3rem;
  background-color: var(--main-color-2);
  user-select: none;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.menu__container {
  display: inline-block;
  position: relative;
}

.menu__title {
  padding: 0.5rem;
}

.menu__list--disabled {
  background-color: var(--hover-color);
  display: none;
}

.menu__list--enabled {
  display: block;
  position: absolute;
  list-style-type: none;
  border-radius: 0.4rem;
  background-color: var(--hover-color);
  white-space: nowrap;
  z-index: 1;
}

.menu__title:hover {
  background-color: var(--hover-color);
}

.menu__items {
  display: list-item;
  padding: 0.5rem;
  position: relative;
}

.menu__items::after {
  content: ' \003E';
  float: right;
}
.menu__items:hover {
  background-color: var(--main-color-2);
}

.menu__item {
  padding: 0.5rem;
}
.menu__item:hover {
  background-color: var(--main-color-2);
}

.menu__submenu {
  display: none;
  list-style-type: none;
  background-color: var(--hover-color);
  position: absolute;
  border-radius: 0.4rem;
  top: 0;
  overflow: visible;
}

.menu__submenu::after {
  background-color: var(--main-color-2);
}

.menu__items:hover > .menu__submenu {
  display: list-item;
}
