.menu {
  width: 100vw;
  background-color: var(--main-color-2);
  user-select: none;
  color: white;
  display: inline-block;
  padding: 5px;
}

.menu__container {
  display: inline-block;
  position: relative;
}

.menu__title {
  padding: 5px;
}

.menu__list--disabled {
  background-color: var(--hover-color);
  display: none;
}

.menu__list--enabled {
  display: block;
  position: absolute;
  list-style-type: none;
  background-color: var(--hover-color);
  white-space: nowrap;
}

.menu__title:hover {
  background-color: var(--hover-color);
}

.menu__item:hover {
  background-color: var(--main-color-2);
}
