@font-face {
  font-family: 'Xolonium';
  src: url('./resources/Xolonium-Regular.ttf');
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5% */
  box-sizing: border-box;
  --main-color: rgb(56, 56, 56);
  --main-color-2: rgb(26, 26, 26);
  --font-color: red;
  --hover-color: darkgray;
}

body {
  margin: 0;
  font-family: 'Xolonium';
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
